/*** VARIABLES ***/
$dark-navy: #011A27;
$blueberry: #063852;
$tangerine: #F0810F;
$lemon: #E6DF44;



body {
	background: $dark-navy;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 1000px;
	margin: 60px auto;
	border: 8px solid $blueberry;
}

#header-content {
	display: flex;
	border-bottom: 8px solid $blueberry;
}

header {
	#img {
		display: inline-block;
		width: 220px;
		height: 220px;
		position: relative;
		top: -50px;
		left: -50px;
		padding: 8px;
		background: $blueberry;
		border-radius: 50%;

		img {
		width: 100%;
		border-radius: 50%;
		}
	}

	h1 {
		font-size: 32px;
		display:inline-block;
		color: #eee;
		vertical-align: top;
		position: relative;
		left: -35px;
		top: 30px;
	}
}


nav {
	font-size: 28px;
	align-self: flex-end;

	ul {
		width: 350px;
		background: $blueberry;
		margin: 0 auto;
		list-style: none;
		display: flex;
		justify-content: space-between;
		padding: 5px 20px;
	
		li a {
			color: #eee;

			&:hover {
				font-weight: 700;
			}
		}
	}
}

#content {
	min-height: 100vh;
}